.col {
text-align: center;
}

.row {
}

#draggable {
  position: absolute;
  z-index: 100;
  width: 1%;
  height:30%;
  background-color: #A8A8A8;
}

#start {
  position: relative;
  left: -10px;
  font-size: 120%;
}

#draggable:hover {
  cursor: pointer;
}

#alert {
  padding: 2%;
  background-color: #f44336;
  color: white;
  text-align: center;
  font-size: 2vh;
  display: none;
  margin-bottom: 0.5%;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 3vh;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

#container {
  font-size: 20vh;
  text-align: center;
}

.progress-bar:hover {
  filter: brightness(0.9);
}

.modal-dialog {
  min-width: 80%;
}